body {
    margin: 0px;
    padding: 0px;
    background-color: rgba(92, 53, 201, 0.858);
}

h1 {
    font-family: 'Segoe UI';
    position: absolute;
    color: white;
    right: 30%;
    left: 40%;
    height: 100px;
}


.adminAgregar {
    width: 470px;
    height: 590px;
    background: white;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 70px;


}


.adminAgregar label {
    font-family: 'Segoe UI';

}

.adminAgregar h1 {
    margin: 2%;
    padding: 0 0 20px;
    text-align: center;
    color: black;
    top: 20px;
    left: 50px;
    right: 50px;
    font-size: 30px;

}

.adminAgregar input {
    width: 100%;
    margin-bottom: 20px;
}

.adminAgregar input[type='text'],
.adminAgregar input[type='number'],
.adminAgregar textarea {
    border: solid 2px rgb(38, 0, 255);
}