* {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI';

}

#contenedor-general #contenedor1 {
    display: block;
    float: left;
    width: 70%;
    height: 973px;

}

#contenedor-general #contenedor1 img {
    width: 100%;
    height: 100%;

}

#contenedor-general #contenedor2 {
    display: block;
    float: left;
    width: 30%;
    height: 973px;
    background-color: white;
}

#contenedor-general #contenedor2 #formulario {
    display: block;
    float: left;
    width: 330px;
    height: 530px;
    margin: 130px;
    margin-top: 250px;


}

#contenedor2 #formulario h2 {
    display: block;
    float: left;
    text-align: center;
    font-size: 30px;
    width: 100%;
    color: #242424;
}

#formulario p {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;

}

#formulario .label {
    display: block;
    margin-left: 50px;
    margin-bottom: 5px;
    font-size: 12px;


}

#formulario .input {
    display: block;
    width: 220px;
    height: 35px;
    margin-left: 50px;
    margin-bottom: 5px;
    border: 1px solid gray;
    border-radius: 3px;
}

#formulario button {
    display: block;
    float: left;
    width: 220px;
    height: 40px;
    margin-left: 50px;
    margin-top: 10px;
    background-color: rgb(67, 67, 250);
    color: white;
    border-radius: 5px;
}

#formulario button a {
    text-decoration: none;
    color: white;

}

#formulario #pc {
    display: block;
    float: left;
    text-align: center;
    font-size: 12px;
    width: 100%;
    margin-top: 17px;
    color: rgb(67, 67, 250);

}